.container {
  background-color: antiquewhite;
}

.headerLine {
  display: flex;
  width: 100%;
  margin-bottom: 24px;

  & .item {
    position: relative;
    flex: 1;
    border: 1px solid black;
  }
}

.account {
  width: fit-content;
  height: fit-content;
  padding: 8px;
  margin-left: auto;
  background-color: grey;
  border-radius: 8px;

  & svg {
    stroke: black;
  }
}

.secondaryLogo {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;

  &.hideSecondaryLogo {
    animation: hide-secondary var(--animation-duraton) linear forwards;
  }

  &.showSecondaryLogo {
    animation: show-secondary 0.1s linear forwards;
  }
}

.logo {
  margin-right: auto;
  margin-left: auto;

  &.hideMainLogo {
    animation: hide-main var(--animation-duraton) ease-out forwards;
  }

  &.showMainLogo {
    animation: show-main 0.1s ease-out forwards;
  }

  &.start {
    width: 105px;
    height: 105px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
