.container {
    text-align: center;

    :global {
        .item {
            padding: 1em;
        }
    }
}

.testGapC {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 80px;
    background-color: beige;
}


.testGapR {
    background-color: beige;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 80px;
}

.testGapR {
    background-color: beige;
    display: flex;
    flex-flow: row nowrap;
    gap: 80px;
}