.container {
  width: 100%;
  justify-content: center;
  display: flex;
  background-color: rgb(66, 89, 110);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5em;
  text-decoration: none;

  &:not(:last-of-type) {
    margin-bottom: 3px;
  }
}
